<h1> OS running on the current machine is ------ {{ ansible_distribution }} </h1>
<h1> Hostname of the current machine is ------ {{ ansible_hostname }} </h1>
<h1> User of the current machine is ------ {{ my_user }} </h1>

